body {
	background-color: #f6f6f6 !important;
}

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(64, 138, 57);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

header li {
	float: left;
}

header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

header li a:hover:not(.active) {
	background-color: rgb(0, 87, 19);
	color: white;
	text-decoration: none;
}

header li a:hover {
	color: white;
}

header li a.active {
	background-color: rgb(0, 87, 19);
}

header li a i {
	font-size: 20px;
}

.icons {
	height: 52px;
}

header img {
	width: 100%;
}
