@import url("../Helper/header.css");
@import url("../Helper/footer.css");
.icons {
	height: 52px;
	color: white;
}

.container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: [first] 400px [second] 500px;
	grid-template-rows: 70px 400px;
}

.container2 {
	margin-top: 30px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 240px);
	grid-template-rows: repeat(3, 60px) 80px;
}

.backBtnDiv {
	justify-self: left;
	width: 200px;
}

#back {
	width: 100%;
	height: 100%;
	font-size: 60px;
	font-weight: bold;
}

#addToShoppingBasket {
	width: 100%;
	height: 100%;
	font-size: 60px;
}

.titleProduct {
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 55px;
}

#product {
	width: 100%;
	border: 1px solid black;
}

.fixed {
	font-weight: bold;
	font-size: 25px;
}

.individual {
	font-size: 20px;
}

.buttons {
	justify-self: center;
}

#favourites {
	margin-left: 10px;
}

#fa-solid {
	color: white;
}

.icons {
	color: white;
}
