@import url("../Helper/header.css");
@import url("../Helper/footer.css");
.weekmenu {
	margin: 20px;
}

.center {
	text-align: center;
	font-size: 40px;
	margin: 10px;
	max-width: 20%;
	height: auto;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

div > h1 {
	text-align: center;
}

.title > h1 {
	text-align: center;
	font-size: 40px;
	padding-top: 10px;
}

td {
	background-color: #ffffff;
	padding: 10px;
}

tr {
	border: 1px solid black;
	padding: 20px;
}

.btn {
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}

button i {
	font-size: 25px;
}

#addBtn {
	margin-top: 32px;
}
