@import url("../Helper/footer.css");
@import url("../Profile/profile.css");
.title>h1 {
    text-align: center;
    margin: 30px;
}

.orderButton {
    text-align: center;
}

#orders {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

#dateAndBtn {
    margin-bottom: 15px;
}

span {
    font-weight: normal !important;
}

headerOrder {
    font-size: 23px;
    font-weight: bold;
}

.form-control {
    width: 150px;
}

h3 {
    margin-left: 80px;
}

#abgeholt {
    margin-right: 20px;
}

.status {
    font-weight: bold;
    font-size: 20px;
}