@import url("../Helper/header.css");
@import url("../Helper/footer.css");
@import url("../Products/products.css");

.title > h1 {
	text-align: center;
	font-size: 40px;
	padding-top: 10px;
}

.products > h3 {
	margin-left: 30px;
	margin-top: 30px;
}

.title > h3 {
	margin-left: 28px;
}

hr {
	width: 90%;
	height: 5px;
	border-width: 10;
	background-color: #505152;
}

.card-title > h3 {
	text-align: center;
}

.card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	text-align: center;
	cursor: pointer;
	width: 30%;
	font-size: 18px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
}

.price {
	color: grey;
	font-size: 22px;
}

.card button:hover {
	opacity: 0.7;
}

* {
	box-sizing: border-box;
}

/* Float four columns side by side */

.column {
	float: left;
	width: 20%;
	padding: 35 10px;
}

.row {
	margin: 0 -5px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

.input-group {
	padding-top: 30px;
	padding-left: 47px;
}

.input-group > button {
	margin-left: 50px;
	padding: 12px;
	padding-bottom: 10px;
	font-size: 24px;
	text-align: center;
}

#app {
	background-color: #e9ecef;
	border: 1px solid #d3d8de;
}

h2 {
	padding-top: 8px;
	text-align: center;
}

div.card-title {
	text-align: center;
}

.noLastOrder,
.noFavourites {
	margin-left: 30px;
}
