@import url("../Helper/header.css");
@import url("../Helper/footer.css");
.data,
.list-group > div {
	margin: 20px;
}

div > h1 {
	text-align: center;
	padding-top: 10px;
}

#signoutBtn {
	height: 47px;
}

.col-lg-1 > input {
	width: 120px;
}

.btn,
.sum {
	font-size: 20px;
}

#orders {
	margin-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

#dateAndBtn {
	margin-bottom: 15px;
}

span {
	font-weight: normal !important;
}

headerOrder {
	font-size: 23px;
	font-weight: bold;
}
