body {
	background-color: #f6f6f6 !important;
}

.login {
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #f7f7f9;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 60px;
	text-align: center;
}

.row > label {
	text-align: left;
	font-weight: bold;
}

#loginBtn > a {
	color: white;
}

#loginBtn > a:hover {
	text-decoration: none;
}

#forgetPassword > a {
	color: grey;
}

#forgetPassword > a:hover {
	text-decoration: none;
}

.bodyOfLogin {
	width: 400px;
}

form {
	width: 400px;
}

button {
	width: 100%;
}
