@import url("../Helper/header.css");
@import url("../Helper/footer.css");

.title > h1 {
	text-align: center;
	font-size: 40px;
	padding-top: 10px;
}


.title > h3 {
	margin-left: 28px;
}

hr {
	width: 90%;
	height: 5px;
	border-width: 10;
	background-color: #505152;
}

.app {
    color: gray;
}

* {
	box-sizing: border-box;
}

/* Float four columns side by side */

.column {
	float: left;
	width: 20%;
	padding: 35 10px;
}

.row {
	margin: 0 -5px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}




#app {
	background-color: #e9ecef;
	border: 1px solid #d3d8de;
}




