@import url("../Products/products.css");
div > h1 {
	text-align: center;
	padding-top: 5px;
}

.input-group > #delBtn {
	text-align: center;
	border: 1px solid black;
	border-radius: 10 !important;
	background-color: white;
	outline: 0;
	padding: 12px;
	color: black;
	text-align: center;
	cursor: pointer;
	width: 30%;
	font-size: 18px;
}

.input-group > input {
	text-align: center;
	margin: 0 -2.2px;
	border: 1px solid;
	border-radius: 0;
	width: 10px;
}

.overview,
#totalcost {
	padding-left: 28px;
	padding-top: 15px;
}

#checkout {
	margin-left: 50px;
	padding-bottom: 10px;
	text-align: center;
}

#app {
	background-color: #e9ecef;
	border: 1px solid #d3d8de;
}
.card {
	background-color: #ffffff !important;
}
