@import url("../Profile/profile.css");

h1 {
	text-align: left !important;
	padding-bottom: 20px;
	font-size: 50px;
	padding-top: 10px;
	padding-left: 42px;
}

.error {
	color: #d8000c;
	background-color: #ffbaba;
}

.border {
	background-color: #e9ecef;
	border: 1px solid #d3d8de;
}

.btn {
	color: white;
	padding: 15px 32px;
	display: inline-block;
	margin-left: 62px;
	height: 80px;
}

a {
	color: white;
}

#border > div {
	margin-left: 32px;
}

#paypal {
	margin-top: 32px;
	margin-left: 12px;
}
