@import url("../Helper/header.css");
@import url("../Helper/footer.css");
.title h1 {
	text-align: center;
	font-size: 40px;
	margin: 10px;
	max-width: 20%;
	height: auto;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.products > h3 {
	margin-left: 30px;
	margin-top: 30px;
}

img {
	width: 100%;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
}

.price {
	color: grey;
	font-size: 22px;
}

.products .card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #28a745;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.products .card button:hover {
	opacity: 0.7;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */

.column {
	float: left;
	width: 20%;
	padding: 35 10px;
}

/* Remove extra left and right margins, due to padding in columns */

.row {
	margin: 0 -5px;
}

/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Style the counter cards */

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	/* this adds the "card" effect */
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

div > label {
	margin-left: 50px;
}

div > input {
	margin-left: 50px;
}

.dropbtn {
	background-color: #28a745;
	color: white;
	font-weight: bold;
	padding: 16px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-left: 29px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin-left: 29px;
	border-radius: 5px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
	text-decoration: none;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #0a8b31;
}

a.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
	text-decoration: none;
}

.blockContainer {
	text-align: left;
	padding-bottom: 40px;
}

.search,
.dropdown {
	display: inline;
}

.labelForCategory {
	margin-left: 29px;
	font-size: 24px;
	margin-top: 10px;
}

.search > label {
	font-size: 20px;
}
